{% extends 'store/main.html' %}
{% load static %}

{% block title %}SwiftCart{% endblock %}

{% block content %}
<div class="w-full px-6 py-4">
    <h2 class="text-2xl font-bold mb-6 text-white-800 dark:text-white">Our Products</h2>

    <!-- Products Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        {% for product in products %}
        <div class="bg-white dark:bg-gray-800 shadow-md rounded-lg overflow-hidden flex flex-col">
            <img src="{{ product.imageURL }}" alt="{{ product.name }}" class="w-full h-48 object-cover">

            <div class="p-4 flex-grow">
                <h3 class="text-black font-semibold text-lg">{{ product.name }}</h3>
                <!--p class="text-sm text-gray-600 dark:text-gray-300 mt-1">{{ product.description|truncatechars:80 }}</p>-->
            </div>

            <div class="px-4 pb-4 mt-auto">
                <div class="flex justify-between items-center mb-3">
                    <span class="text-lg font-bold text-gray-800 dark:text-white">₦{{ product.price }}</span>
                </div>
                <div class="flex space-x-2">
                    <!-- Add to Cart -->
                    <button 
                        data-product="{{ product.id }}" 
                        class="add-to-cart-btn flex-1 bg-green-600 text-white text-center py-2 rounded hover:bg-green-700">
                        Add to Cart
                    </button>

                    <!-- View Product -->
                    <a href="{% url 'product_detail' product.id %}" 
                    class="flex-1 bg-gray-600 text-white text-center py-2 rounded hover:bg-gray-700">
                        View
                    </a>
                </div>
                
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Pagination -->
     <div class="flex justify-center items-center gap-4 mt-8">

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="bg-blue-700 hover:bg-blue-600 text-white px-4 py-2 rounded shadow">
                Next →
            </a>
        {% endif %}

        <span class="text-white">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="bg-gray-700 hover:bg-gray-600 text-white px-4 py-2 rounded shadow">
                ← Back
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}